= section :black do
  .row.small.mt-4.text-muted
    .col-sm-12.border-top.text-center.pt-3
      %span.px-2 Privacy Policy
      |
      %span.px-2 Copyright © 2020 Wikirate
      |
      %span.px-2 All rights reserved