%body
  = partial "partials/header"
  %main.white-bg.container-fluid{:role => "main"}
    .row
      .col-9
        #topicgraph
      .col-3
        -# %h5 Data
        -# .form-inline.form-group-inline.mr-1.mb-1
        -#   .label.mr-1 Source:
        -#   .form-check-inline
        -#     %input#dataSource1.form-check-input._data-source{:name => "dataSource", :type => "radio", :value => 1}
        -#     %label.form-check-label{:for => "dataSource1"}
        -#       live
        -#   .form-check-inline
        -#     %input#dataSource2.form-check-input._data-source{:checked => "checked", :name => "dataSource", :type => "radio", :value => 2}
        -#     %label.form-check-label{:for => "dataSource2"}
        -#       cached
        %table.table
          %thead
            %tr
              %th{:scope => "col"}
              %th{:scope => "col"} Total
              %th{:scope => "col"} Filtered
          %tbody
            %tr
              %th{:scope => "row"} Topics
              %td._topic-count
              %td._node-count
            %tr
              %th{:scope => "row"} Connections
              %td._topic-connection-count
              %td._edge-count

        %h5.mt-3 Select a configuration
        .form-group
          %select#configs._select2.w-100
            %option{value: "default"}
              Default
            %option{value: "elite_connections"}
              Elite Connections
            %option{value: "solar"}
              Solar system
            %option{value: "chaos"}
              Chaos

        %h5.mt-3 Change configuration
        %ul#myTab.nav.nav-tabs{:role => "tablist"}
          %li.nav-item{:role => "presentation"}
            %a#filter-tab.nav-link.active{"aria-controls" => "filter", "aria-selected" => "true", "data-toggle" => "tab", :href => "#filter", :role => "tab"} filter
          %li.nav-item{:role => "presentation"}
            %a#style-tab.nav-link{"aria-controls" => "style", "aria-selected" => "false", "data-toggle" => "tab", :href => "#style", :role => "tab"} style
          %li.nav-item{:role => "presentation"}
            %a#advanced-tab.nav-link{"aria-controls" => "advanced", "aria-selected" => "false", "data-toggle" => "tab", :href => "#advanced", :role => "tab"} advanced
        
        #myTabContent.tab-content.pt-3
          #filter.tab-pane.fade.show.active{"aria-labelledby" => "filter-tab", :role => "tabpanel"}
            .form-group.mr-1
              .label.mr-1 Topic framework
              %select._select2._topic-frameworks.w-100{ multiple: "multiple" }

            .form-group
              .label.mr-1 Minimum topic importance
              %input.form-control._node-threshold.mr-3{type: "number"}
              %small.form-text.text-muted
                Number of metrics tagged with a topic needed to establish that topic as a node
            .form-group.mr-1
              .label.mr-1 Topic importance Formula
              .form-check
                %input#nodeFormulaRadios1.form-check-input._node-formula{:checked => "checked", :name => "nodeFormulaRadios", :type => "radio", :value => 1}
                %label.form-check-label{:for => "nodeFormulaRadios1"}
                  Metrics:
                  %span.text-muted more metrics tagged, more important
              .form-check
                %input#nodeFormulaRadios2.form-check-input._node-formula{:name => "nodeFormulaRadios", :type => "radio", :value => 2}
                %label.form-check-label{:for => "nodeFormulaRadios2"}
                  Bookmarks:
                  %span.text-muted more bookmarked, more important
            .form-group
              .label.mr-1 Minimum connection strength
              %input.form-control._edge-threshold{type: "number"}
              %small.form-text.text-muted
                Number of connecting metrics between topics needed to establish an edge
            .form-group.mr-1
              .label.mr-1 Connection Strength Formula
              .form-check
                %input#formulaRadios1.form-check-input._connection-formula{:checked => "checked", :name => "formulaRadios", :type => "radio", :value => 1}
                %label.form-check-label{:for => "formulaRadios1"}
                  Simple:
                  %span.text-muted number of shared metrics
              .form-check
                %input#formulaRadios2.form-check-input._connection-formula{:name => "formulaRadios", :type => "radio", :value => 2}
                %label.form-check-label{:for => "formulaRadios2"}
                  Weighted:
                  %span.text-muted metrics tagged with more topics weigh less
              .form-check
                %input#formulaRadios3.form-check-input._connection-formula{:name => "formulaRadios", :type => "radio", :value => 3}
                %label.form-check-label{:for => "formulaRadios3"}
                  Bookmarked:
                  %span.text-muted metrics more bookmarked weigh more
          #style.tab-pane.fade{"aria-labelledby" => "style-tab", :role => "tabpanel"}
            .form-group
              .label.mr-1 Label size
              %input.form-control._font-size{type: "number"}
            .form-group
              .label.mr-1 Node size
              %input.form-control._node-size{type: "number"}
            .form-group
              .label.mr-1 Edge size
              %input.form-control._edge-size{type: "number"}
            .form-group.form-check
              %input.form-check-input._colorful{:type => "checkbox"}/
              %label.form-check-label Colorful
          #advanced.tab-pane.fade{"aria-labelledby" => "advanced-tab", :role => "tabpanel"}
            .editor
              #editor
              .btn.btn-primary._apply-config.mt-2
                Apply
  .modal#mymodal{:role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %h5.modal-title Connecting metrics
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          %p
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
  = partial "partials/shared/footer"




